<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
    </script>
    <meta charset="UTF-8">
    <title>处理请求</title>
</head>
<body>
<!--动态渲染内容-->
<table border="1">
    <!--行-->
    <tr>
        <th>申请表Id</th>
        <th>需要修改的记录Id</th>
        <th>员工姓名</th>
        <th>理由</th>
        <th>处理申请</th>>
    </tr>

    <tr th:each="appli,appliStats : ${applis}" >
        <td th:text="${appli.appliId}"></td>
        <th th:text="${appli.recordId}"></th>
        <td th:text="${appli.applicantId}"></td>
        <th th:text="${appli.reason}"></th>
        <td><button type="button"  th:onclick="|check('${appli.appliId}','${appli.recordId}')|">修改记录</button></td>
    </tr>
    <script>
        function check(appliId, recordId) {
            let input=prompt("输入理由");
            //be careful, whatever user input, javascript will treat it as a
            //"string", if you need a number, you need to use "parseInt()"
            //method to change String to Number. like the following:
            //var b=parseInt(input) +1;
            //alert(b);
            $.ajax({
                type: "POST",
                data: {intended_status: input, punch_card_record_id: parseInt(recordId), application_id:parseInt(appliId)},
                url: "http://localhost:8080/right/handle_appli",
                success: function (data) {
                    alert("发送成功")
                },
                error: function (data) {
                    alert("认证失败");
                }
            });
        }
    </script>
</table>

</body>
</html>