<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form accept-charset="utf-8"
      action="/doregister" method="post">
    <div>
        <label>用户名称</label><input type="text" id="username" placeholder=" 用户名"
                                  name="username" required><br> <br>
    </div>
    <div>
        <label>登录密码</label><input type="password" id="password"
                                  placeholder=" 密码" required name="password"><br> <br>
    </div>

    <!--<div>-->
        <!--<label>部门名称</label><input type="number" id="departmentId" placeholder="部门名称"-->
                                  <!--name="departmentId" required><br> <br>-->
    <!--</div>-->

    <div>
        fuck
        <div th:each="department: ${departments}">
            <!--<td th:text="${student.id}" />-->
            <td th:text="${{department.departmentName}}" />
        </div>
    </div>


    <td>
        <select name = "部门名称" id ="departmentId">
              <option vlaue="2">第一篇文章</option>
              <option th:each="department : ${departments}"
                      th:value="${department.departmentName}"
                      th:utext="${department.departmentName}"></option>
        </select>
    </td>


    <div>
        <span>已有账号去</span><a href="/login">登录</a> <input type="submit" value="同意协议并注册" />
    </div>
</form>
</body>
</html>
