<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>展示前三天签到情况</title>
</head>
<body>
<!--动态渲染内容-->
<table border="1">
    <!--行-->
    <tr>
        <th>员工姓名</th>
        <th>签到时间</th>
        <th>签退时间</th>
        <th>签到状态</th>
        <th>申请修改</th>
    </tr>
    <tr th:each="info,infoStat : ${Infos}" >
        <td th:text="${info.userName}"></td>
        <td th:text="${info.mail}"></td>
        <th th:text="${infoStat.index}"></th>
        <th th:text="${infoStat.count}"></th>
        <th th:text="${infoStat.size}"></th>
        <th th:text="${infoStat.even}"></th>
        <th th:text="${infoStat.odd}"></th>
        <th th:text="${infoStat.first}"></th>
        <th th:text="${infoStat.last}"></th>
    </tr>
</table>

<input type="button" value="通过AJAX获取多个分类对象" id="sender">

<div id="messageDiv"></div>

<script>
    function sendRequest(){
        let xhr = new XMLHttpRequest();
        xhr.open('GET','http://localhost:8080/show_record');
        xhr.setRequestHeader('Content-Type','application/x-www-form-urlencode;charset=utf-8');
        xhr.onreadystatechange = ()=>{
            if(xhr.readyState === 4){

                if(xhr.status >= 200 && xhr.status < 300){
                    let string = xhr.responseText;
                    let obj = JSON.parse(string);
                    console.log(obj[0].staffId);
                    //无法修改
                    document.getElementById("punch_card_status").innerText = xhr.responseText;
                } else if(xhr.status >= 400){
                    console.log('请求失败');
                }
            }
        };
        xhr.send();
    }
</script>

</body>
</html>

