<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--https://blog.csdn.net/gongzhao426177/article/details/73550155-->
<head>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
    </script>
    <meta charset="UTF-8">
    <title>展示前三天签到情况</title>
</head>
<body>
<!--动态渲染内容-->
<table border="1">
    <!--行-->
    <tr>
        <th>员工姓名</th>
        <th>签到时间</th>
        <th>签退时间</th>
        <th>签到状态</th>
        <th>record Id</th>
        <th>提出申请</th>
    </tr>

    <tr th:each="record,recordStats : ${records}" >
        <td th:text="${record.staffName}"></td>
        <td th:text="${record.signInTime}"></td>
        <th th:text="${record.signOutTime}"></th>
        <th th:text="${record.status}"></th>
        <th th:text="${record.recordId}"></th>
        <!--如果是数字可以直接加上引号-->
        <!--如果是字符串需要转义-->
        <td><button type="button"  th:onclick="'javascript:check(\''+${record.recordId}+'\')'">edit</button></td>
    </tr>
    <script>
        function check(id) {
            let input=prompt("输入理由");
        //be careful, whatever user input, javascript will treat it as a
        //"string", if you need a number, you need to use "parseInt()"
        //method to change String to Number. like the following:
        //var b=parseInt(input) +1;
        //alert(b);
            $.ajax({
                type: "POST",
                data: {recordId: parseInt(id), reason: input},
                url: "localhost:8080/application",
                success: function (data) {
                   alert("发送成功")
                },
                error: function (data) {
                    alert("认证失败");
                }
            });
        }
    </script>
</table>

<form action="/application" accept-charset="utf-8" method="post">
    <div>
        <label>记录Id
        </label>
        <input type="text" class="text" id="recordId" placeholder="记录Id" name="recordId" required tabindex="1">
    </div>

    <div>
        <label>理由</label><input type="text" class="text" id="reason" placeholder="申请理由" required name="reason" tabindex="2"><br>
    </div>
    <br>
    <div>
        <button type="submit" value="确认" id="confirm">确认申请</button>
    </div>
</form>

</body>
</html>

